/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;600&display=swap");
/*font-family: 'IBM Plex Sans Arabic', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

:root {
  --aside-color: #0d2c54;
  --white: #e9e9f1;
  --accent-color: #007c77;
  --font-color: #333333;
}

body {
  display: grid;
  grid-template-columns: 18% 3fr;
  grid-template-rows: 1fr auto;
}

/* SIDEBAR */

aside {
  background-color: var(--aside-color);
  color: var(--white);
  grid-row: 1 / 3;
}

.logo,
.home,
.profile,
.messages,
.community {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
}

.settings,
.privacy,
.support {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
}

aside svg {
  margin-right: 10px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 100px;
}

.group1,
.group2 {
  margin-bottom: 100px;
}

/* HEADER TOP */

header {
  display: grid;
  /* grid-template-rows: 50% 50%; */
  color: var(--font-color);
  gap: 20px;
}

header .top {
  margin-top: 20px;
  margin-left: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  justify-items: end;
}

.search {
  align-self: flex-start;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  gap: 15px;
}

.personal {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

input {
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  width: 500px;
  height: 35px;
}

/* HEADER BOTTOM */

header .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 20px;
}

.hello {
  margin-left: 20px;
  justify-self: flex-start;
  align-items: center;
  display: flex;
  gap: 15px;
}

.options {
  justify-self: flex-end;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

header button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  font-size: 1.3rem;
}

/* MAIN */

.left, 
.right {
  margin-top: 10px;
}

/* MAIN LEFT*/

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  background-color: var(--white);
}

.your-dreams{ 
  margin-left: 25px;
}

.alldreams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: 15px;
  padding: 10px;
}

.dream {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  height: 30vh;
}

main h3 {
  align-self: center;
}
.dream {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 3px 6px 17px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 6px 17px -3px rgba(0, 0, 0, 0.5);
  border-left: #007c77 10px solid;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.dream .top {
  overflow: hidden;
}

.dream .bottom {
  align-self: end;
}

/* MAIN RIGHT */

.right h3 {
  margin-bottom: 7px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 20px;
}

.box {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.right .box { 
  -webkit-box-shadow: 3px 6px 17px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 6px 17px -3px rgba(0, 0, 0, 0.5);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  font-size: 1rem;
}

.sarah, .penguin, .anonymous {
  display: flex;
  margin-bottom: 20px;
  align-content: center;
}

.greekgoddess {
  display: flex;
}

h6 {
  font-size: 1.1rem;
}

.trending img {
  margin-right: 10px;
  height: 60px;
  display: inline;
}

.trending .box {
  display: flex;
  flex-direction: column;
  justify-items: center;
}